@import url('http://fonts.googleapis.com/css?family=Bree+Serif|Merriweather');
@import url('http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css');


h1 {
  font-size: 2.2rem;
  color: lighten($orange, 25);
}

.test {
  font-size: 1.2rem;
  color: $blue;
}


.login-box {
  width:100%;
  background: #fff;
  border: 1px solid #ddd; 
  margin: 100px 0;
  padding: 40px 20px 0 20px;
}

.register-box {
  width:100%;
  background: #fff;
  border: 1px solid #ddd; 
  margin: 100px 0;
  padding: 40px 20px 0 20px;
}
.login-button{
  padding-left:10px !important;
  color:white !important;
}


.review-list{
  width:100%;
}
.button{
  background-color:black !important;
  color:white !important;
}

li{list-style: none; }
body{margin: 50px; background-color: #333; color: #ccc; overflow: hidden;}
h3{color: #fff;}
.animate-enter, .animate-leave {
transition: 500ms ease-in all;
position: relative;
display: block;
} 
.animate-enter.animate-enter-active, .animate-leave {
left: 0;
}
.animate-leave.animate-leave-active, .animate-enter {
left: 500px;
}
.lookup{
  padding-left:1rem;
}

.search{
  width:90% !important;
  height: 3.16rem !important;
}

h2{
  text-align: center;
}

.login-button{
  background-image:url("/image/User-Group.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 2.6rem;
}
.login-form {
  margin: 0 auto;
  padding-top: 30px;
}

.title{
  

}

.chat{
  margin-top:1rem !important;
  margin-left:1rem;
}
button{
  background-color:black !important;
  color:black;
}


@-webkit-keyframes blackPulse {
  from { background-color: #000; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #000; -webkit-box-shadow: 0 0 18px #000; }
  to { background-color: #000; -webkit-box-shadow: 0 0 9px #333; }
}

@-webkit-keyframes skyPulse {
  from { background-color: #1fbad6; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #1fbad6; -webkit-box-shadow: 0 0 18px #000; }
  to { background-color: #1fbad6; -webkit-box-shadow: 0 0 9px #333; }
}

a.sky.button {
  -webkit-animation-name: skyPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}



a.black.button {
  -webkit-animation-name: blackPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}

.login-title{
  text-align:center;
  
}

.focused-view-subtitle {
  font-size: 17px;
  color: #c2c2c2;
  text-transform: uppercase;
}

p {
  line-height: 27px;
}

.border-center>span {
  display: inline-block;
  padding: 0 20px;
  background: #fff;
}

.border-center:after {
  background: #000;
  content: "";
  display: block;
  height: 1px;
  margin-top: -12px;
}
.center{
  text-align:center;
}