@import url('http://fonts.googleapis.com/css?family=Bree+Serif|Merriweather');
@import url('http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css');


h1 {
  font-size: 2.2rem;
  color: lighten($orange, 25);
}

.test {
  font-size: 1.2rem;
  color: $blue;
}


.login-box {
  width:100%;
  background: #fff;
  border: 1px solid #ddd; 
  margin: 100px 0;
  padding: 40px 20px 0 20px;
}

.register-box {
  width:100%;
  background: #fff;
  border: 1px solid #ddd; 
  margin: 100px 0;
  padding: 40px 20px 0 20px;
}
.login-button{
  padding-left:10px !important;
  color:white !important;
}


.review-list{
  width:100%;
}
.button{
  background-color:black !important;
  color:white !important;
}