@import url("http://fonts.googleapis.com/css?family=Bree+Serif|Merriweather");
@import url("http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css");
/* line 5, ../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* line 5, ../../sass/_base.scss */
h1 {
  font-size: 2.2rem;
  color: #ef7e60; }

/* line 10, ../../sass/_base.scss */
.test {
  font-size: 1.2rem;
  color: #2176C7; }

/* line 16, ../../sass/_base.scss */
.login-box {
  width: 100%;
  background: #fff;
  border: 1px solid #ddd;
  margin: 100px 0;
  padding: 40px 20px 0 20px; }

/* line 24, ../../sass/_base.scss */
.register-box {
  width: 100%;
  background: #fff;
  border: 1px solid #ddd;
  margin: 100px 0;
  padding: 40px 20px 0 20px; }

/* line 31, ../../sass/_base.scss */
.login-button {
  padding-left: 10px !important;
  color: white !important; }

/* line 37, ../../sass/_base.scss */
.review-list {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.95) !important; }

/* line 41, ../../sass/_base.scss */
.button {
  background-color: black !important;
  color: white !important; }

/* line 46, ../../sass/_base.scss */
li {
  list-style: none; }

/* line 47, ../../sass/_base.scss */
body {
  margin: 50px;
  background-color: #333;
  color: #ccc;
  overflow: hidden; }

/* line 48, ../../sass/_base.scss */
h3 {
  color: #fff; }

/* line 49, ../../sass/_base.scss */
.animate-enter, .animate-leave {
  transition: 500ms ease-in all;
  position: relative;
  display: block; }

/* line 54, ../../sass/_base.scss */
.animate-enter.animate-enter-active, .animate-leave {
  left: 0; }

/* line 57, ../../sass/_base.scss */
.animate-leave.animate-leave-active, .animate-enter {
  left: 500px; }

/* line 60, ../../sass/_base.scss */
.lookup {
  padding-left: 1rem; }

/* line 64, ../../sass/_base.scss */
.search {
  width: 90% !important;
  height: 3.16rem !important; }

/* line 69, ../../sass/_base.scss */
h2 {
  text-align: center; }

/* line 73, ../../sass/_base.scss */
.login-button {
  background-image: url("/image/User-Group.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 2.6rem; }

/* line 79, ../../sass/_base.scss */
.login-form {
  margin: 0 auto;
  padding-top: 30px; }

/* line 89, ../../sass/_base.scss */
.chat {
  margin-top: 1rem !important;
  margin-left: 1rem; }

/* line 93, ../../sass/_base.scss */
button {
  background-color: black !important;
  color: black; }

@-webkit-keyframes skyPulse {
  from {
    background-color: #1fbad6;
    -webkit-box-shadow: 0 0 9px #333; }
  50% {
    background-color: #1fbad6;
    -webkit-box-shadow: 0 0 18px #000; }
  to {
    background-color: #1fbad6;
    -webkit-box-shadow: 0 0 9px #333; } }
/* line 107, ../../sass/_base.scss */
a.sky.button {
  -webkit-animation-name: skyPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite; }

@-webkit-keyframes blackPulse {
  from {
    background-color: #000;
    -webkit-box-shadow: 0 0 9px #333; }
  50% {
    background-color: #000;
    -webkit-box-shadow: 0 0 19px #000; }
  to {
    background-color: #000;
    -webkit-box-shadow: 0 0 9px #333; } }
/* line 119, ../../sass/_base.scss */
a.black.button {
  -webkit-animation-name: blackPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite; }

/* line 125, ../../sass/_base.scss */
.login-title {
  text-align: center; }

/* line 130, ../../sass/_base.scss */
.focused-view-subtitle {
  font-size: 17px;
  color: #c2c2c2;
  text-transform: uppercase; }

/* line 136, ../../sass/_base.scss */
p {
  line-height: 27px; }

/* line 140, ../../sass/_base.scss */
.border-center > span {
  display: inline-block;
  padding: 0 20px;
  background: #fff; }

/* line 146, ../../sass/_base.scss */
.border-center:after {
  background: #000;
  content: "";
  display: block;
  height: 1px;
  margin-top: -12px; }

/* line 153, ../../sass/_base.scss */
.center {
  text-align: center; }

/* line 157, ../../sass/_base.scss */
.semi-top {
  height: 3rem;
  color: white;
  margin-top: 1rem;
  margin-bottom: 1rem; }

@-webkit-keyframes whitePulse {
  from {
    background-color: #000;
    -webkit-box-shadow: 0 0 9px #fff; }
  50% {
    background-color: #000;
    -webkit-box-shadow: 0 0 20px #fff; }
  to {
    background-color: #000;
    -webkit-box-shadow: 0 0 9px #fff; } }
/* line 171, ../../sass/_base.scss */
.subject-grid {
  -webkit-animation-name: whitePulse !important;
  -webkit-animation-duration: 2s !important;
  -webkit-animation-iteration-count: infinite !important;
  padding-top: 1.5rem; }

/* line 181, ../../sass/_base.scss */
.with-chevron {
  padding-left: 1rem; }

/* line 185, ../../sass/_base.scss */
.review-list {
  background-color: black; }

/* line 188, ../../sass/_base.scss */
.places {
  color: black !important; }

/* line 194, ../../sass/_base.scss */
.block-list header {
  margin-left: 2rem; }

/* line 204, ../../sass/_base.scss */
.detail-review {
  padding-top: 2rem; }

/* line 212, ../../sass/_base.scss */
.menu-bar.dark {
  background-image: url("https://d1a3f4spazzrp4.cloudfront.net/web-fresh/pattern-grid-dark@1x.gif") !important; }

/* line 217, ../../sass/_base.scss */
.navspace {
  margin: 0; }

/* line 222, ../../sass/_base.scss */
.title-sepeartor {
  margin: 0 !important; }

/* line 227, ../../sass/_base.scss */
.card {
  -webkit-animation-name: whitePulse !important;
  -webkit-animation-duration: 2s !important;
  -webkit-animation-iteration-count: infinite !important; }

/* line 234, ../../sass/_base.scss */
.card-selection {
  background-color: grey !important; }
